language: python
jobs:
  include:
    - name: "Python 3.6.0 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.6.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python36:/c/Python36/Scripts:$PATH
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - MainRun