aiohttp==3.8.5
google_api_python_client==2.97.0
Pillow==10.0.0
PyQt5==5.15.9
PyQt5_Frameless_Window==0.3.2
PyQt_Fluent_Widgets==1.2.0
requests==2.31.0
rsa~=4.9
yt_dlp==2023.7.6
httplib2~=0.22.0
PySocks==1.7.1
pysubs2==1.6.1